pkgbase = thorium
	pkgdesc = A highly scalable, distributed malware analysis and data generation framework
	pkgver = 1.1.1
	pkgrel = 1
	url = https://cisagov.github.io/thorium/
	arch = x86_64
	license = LicenseRef-custom
	makedepends = cargo-nightly
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = xz
	depends = zlib
	options = !lto
	source = thorium::git+https://github.com/cisagov/thorium.git#tag=1.1.1
	b2sums = 02f05c60f55eda906066748b56efc3e5167386b4f7753b4ae8d5e8012a8f0e0ac24aaf661bcd51af0ce2de6361fd8ae69ea77b8c4894f3c321b279fd55b65b67

pkgname = thorium
