pkgbase = python-pyzx
	pkgdesc = A library for quantum circuit rewriting and optimisation using the ZX-calculus
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/zxcalc/pyzx
	arch = any
	license = Apache-2.0
	checkdepends = python-qiskit
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python-ipywidgets
	depends = python-lark-parser
	depends = python-numpy
	depends = python-pyperclip
	depends = python-tqdm
	depends = python-typing_extensions
	optdepends = python-matplotlib: plotting support
	optdepends = python-qiskit: Qiskit support
	source = pyzx-0.9.0.tar.gz::https://github.com/zxcalc/pyzx/archive/refs/tags/v0.9.0.tar.gz
	b2sums = 414aa654a34967f34ef808643279179a5d9633bc42d3c32f9df44492b64a53464fd57a10401e595ada797bbcceb944abdb2a099d721cad6d714e5e70f6a7f8b1

pkgname = python-pyzx
