pkgbase = plasma6-applets-resources-monitor
	pkgdesc = Plasmoid for monitoring CPU, memory, network traffic, GPUs and disks IO
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/orblazer/plasma-applet-resources-monitor
	arch = any
	license = GPL-3.0-or-later
	depends = kitemmodels
	depends = kquickcharts
	depends = libksysguard
	depends = libplasma
	depends = plasma5support
	optdepends = kdeplasma-addons: to support easier click action
	conflicts = plasma5-applets-resources-monitor
	conflicts = plasma5-applets-resources-monitor-git
	conflicts = plasma6-applets-resources-monitor-git
	source = plasma6-applets-resources-monitor-3.0.0.tar.gz::https://github.com/orblazer/plasma-applet-resources-monitor/archive/refs/tags/v3.0.0-rc.1.tar.gz
	b2sums = 3e0e04bd67367686f645fa70d3cebb1b2718dbbd16eea12c7501dbbe08a56115088d7c00cc52c4072f6720c3cf44e70f12f607f0b6b44c3e45fc6a49fe186a9e

pkgname = plasma6-applets-resources-monitor
