pkgbase = python-qiskit-ibm-transpiler
	pkgdesc = A library to use the Qiskit Transpiler Service and the AI-powered transpiler passes
	pkgver = 0.10.2
	pkgrel = 1
	url = https://github.com/Qiskit/qiskit-ibm-transpiler
	arch = x86_64
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-backoff
	depends = python-qiskit
	depends = python-qiskit-qasm3-import
	depends = python-requests
	source = qiskit-ibm-transpiler-0.10.2.tar.gz::https://github.com/Qiskit/qiskit-ibm-transpiler/archive/0.10.2.tar.gz
	b2sums = 55453b485d780d2963f406f19efe026391fa5895c9745a9103690fccb84955ba655b3de1ce70561de265aa5cb0eae02b0ca7212aad67cc1efbde6411b0289f99

pkgname = python-qiskit-ibm-transpiler
