pkgbase = python-qiskit-qasm3-import
	pkgdesc = Importer from OpenQASM 3 to Qiskit's QuantumCircuit
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/Qiskit/qiskit-qasm3-import
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-openqasm3
	depends = python-qiskit
	source = qiskit-qasm3-import-0.5.0.tar.gz::https://github.com/Qiskit/qiskit-qasm3-import/archive/refs/tags/v0.5.0.tar.gz
	b2sums = 44eb08e435329ff67c4e241973a61590cf31d87c21bdc470654f4e3f2a4c819cdc875e6b186024818ad2e1c8ffaa3f0f168ff78b6b9ea9c949ca154ba27c7ee7

pkgname = python-qiskit-qasm3-import
