pkgbase = marknote
	pkgdesc = KDE's WYSIWYG note-taking application
	pkgver = 1.0.0
	pkgrel = 1
	url = https://apps.kde.org/marknote/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	depends = kconfig
	depends = kcoreaddons
	depends = ki18n
	depends = kiconthemes
	depends = kirigami
	depends = qt6-declarative
	depends = qt6-svg
	source = git+https://invent.kde.org/office/marknote#tag=v1.0.0
	validpgpkeys = 39FFA93CAE9C6AFC212AD00202325448204E452A
	sha256sums = adfa923c50afd88b7eba1959be05a971fc29f22ea94e9be7d041e1fbee2c8330

pkgname = marknote
