pkgbase = python-quimb
	pkgdesc = Quantum information and many-body library.
	pkgver = 1.8.4
	pkgrel = 1
	url = https://github.com/jcmgray/quimb
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = https://files.pythonhosted.org/packages/source/q/quimb/quimb-1.8.4.tar.gz
	b2sums = 50e046fdd6521aaf6fdc3d0013fe749098f5ce1fea45f5b9f351b0aa3c8593582dd69a7da8341c7c71f8c0508bbd5b896d1d587a9cf8648721e9d450f0c191ed

pkgname = python-quimb
